html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Ensures the body takes up the full height of the viewport */
}

.wrapper {
    display: flex;
    flex-direction: column; /* Makes the wrapper a flex container */
    min-height: 100vh; /* Ensures the wrapper spans the full height of the viewport */
}
body {
    display: flex;
    flex-direction: column; /* Makes the body a flex container */
    min-height: min-content; 
}

h2 {
    text-align: center;
    background-color: aliceblue;
    padding: 12px;
    margin: 0px;
}

nav li {
    list-style-type: none;
    background-color: rgb(0, 0, 0);
    margin: 1rem;
}

nav a {
    text-decoration: none;
    color: lightgray;
    padding: 25px;
}

nav a:hover {
    color: palegoldenrod;
    background-color: black;
}

nav ul {
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 25px;
    margin: 0px;
    flex-wrap: wrap;
}

footer {
    text-align: center;
    background-color: black;
    padding: 12px;
    margin: 0px;
    color: white;
    flex: 0 0 auto;
    min-height: max-content;
    margin-top: auto; 
}

